@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    
--Very-dark-blue: hsl(233, 47%, 7%); /* background main*/
--Dark-desaturated-blue : hsl(244, 38%, 16%); /* card background*/
--Soft-violet: hsl(277, 64%, 61%); /* accent*/
--White : hsl(0, 0%, 100%); /* (main heading, stats)*/
--Slightly-transparent-white : hsla(0, 0%, 100%, 0.75); /* (main paragraph)*/
--Slightly-transparent-white : hsla(0, 0%, 100%, 0.6); /* (stat headings)*/
--inter : 'Inter', sans-serif;
--Lexend: 'Lexend Deca', sans-serif;
}

body {
    min-height: 100vh;
    width: 100%;
    display: grid;
    place-items: center;
    background-color: var(--Very-dark-blue);
    font-family: var(--inter);
}

.card {
    width: 85%;
    height: 45%;
    min-height: 280px;
    max-width: 800px ;
    background-color: var(--Dark-desaturated-blue);
    display: flex;
    justify-content: space-between;
    gap: 30px;
    border-radius: 10px;
}

.card-img {
    width: 60%;
    height: auto;
    display: flex;
    
}

.card-content {
    width: 50%;
    padding: 35px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 25px;
}

.card-content h1{
    font-size: 24px;
    color: var(--White);
}

h1 span {
    color: var(--Soft-violet);
}

.card-content p {
    color: var(--Slightly-transparent-white);
    font-size: 15px;
}

.stats {
    display: flex;
    justify-content: space-between;
    margin-top:20px;
    gap: 15px;
}

.stats h3 {
    color: var(--White);
}

.stats span {
    color: var(--Slightly-transparent-white);
    font-size: 12px;
}

.img-desktop {
    width: 100%;
    height: auto;
    border-radius: 0 10px 10px 0;
}

.img-mobile {
    display: none;
}

@media (max-width:670px){
    .card {
        width: 85%;
        flex-direction: column-reverse;
        gap: 0;
        height: auto;
    }

    .card-img, .card-content {
        width: 100%;
        
    }

    .card-content h1, .card-content p {
        text-align: center;
    }


    .img-desktop {
        display: none;
    }
    .img-mobile {
        display: block;
        width: 100%;
        height: auto;
        border-radius: 10px 10px 0 0;
    }

    .stats, .info {
        flex-direction: column;
        align-items: center;
    }

    .info {
        display: flex;
        gap: 5px;
    }

    .info span {
        font-size: 15px;
    }

}